<template>
    <c-email-helper-header is-send-disabled={isSendDisabled} ontemplateselect={handleTemplateSelect} onrecipientselect={handleRecipientSelect}
                            onincludesigchange={handleIncludeSigChange} onsendclicked={handleSendClicked}></c-email-helper-header>
    <template if:true={selectedTemplate}>
        <c-email-helper-editor selected-template={selectedTemplate} selected-recipient={selectedRecipientId}  include-signature={includeSignature}></c-email-helper-editor>
    </template>

    <!-- Confirm Send Modal -->
    <template if:true={isSendModalOpen}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- HEADER -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={handleCloseSendModal}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                </header>

                <!-- BODY -->
                <div class="slds-modal__content slds-var-p-around_medium" id="modal-content-id-1">
                    <div class="slds-text-align_center slds-text-body_regular">
                        Are you sure you want to send this email?
                    </div>
                </div>

                <!-- FOOTER -->
                <footer class="slds-modal__footer">
                    <lightning-button variant="neutral" label="Cancel" title="Cancel" onclick={handleCloseSendModal} class="slds-var-m-left_x-small"></lightning-button>
                    <lightning-button variant="brand" label="Send" title="Send" onclick={handleConfirmSend} class="slds-var-m-left_x-small"></lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>