<template>
    <c-email-helper-preview-options onrecipientselect={handleRecipientSelected}  onrelatedobjectselect={handleRelatedObjectSelected}
                                    onpreviewclicked={handleRenderPreview} related-object-name={relatedObjectName}
                                    selected-recipient={selectedRecipient}></c-email-helper-preview-options>

    <!-- Preview modal -->
    <template if:true={isPreviewModalOpen}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- HEADER -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={handlePreviewClose}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                </header>

                <!-- BODY -->
                <div class="slds-modal__content slds-var-p-around_medium" id="modal-content-id-1">
                    <template if:true={renderError}>
                        <div class="slds-text-color_error slds-text-body_regular">
                            There was an error rendering your email: {renderError}
                        </div>    
                    </template>

                    <template if:true={renderedBody}>
                        <lightning-layout horizontal-align="space">                
                            <lightning-layout-item size="10">
                                <!-- <lightning-card title="Email Preview" icon-name="custom:custom105"> -->
                                    <lightning-formatted-rich-text
                                        value={renderedBody}>
                                    </lightning-formatted-rich-text>
                                <!-- </lightning-card> -->
                            </lightning-layout-item>
                
                        </lightning-layout>
                    </template>
                </div>

                <!-- FOOTER -->
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={handlePreviewClose} title="Close">Close</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    
</template>