<template>
    <lightning-card>
        <lightning-layout multiple-rows="true" horizontal-align="space">

            <!-- Related object search -->
            <lightning-layout-item size="12" padding="around-small">
                <template if:true={relatedObjectName}>
                    <c-lookup onsearch={handleRelatedObjSearch} onselectionchange={handleRelatedObjSelectionChange} 
                                label={relatedEntitySearchLabel} placeholder="Search..." object-name={relatedObjectName}
                                search-field="Name">
                    </c-lookup>
                </template>
            </lightning-layout-item>

            <!-- Preview button -->
            <lightning-layout-item size="8" padding="around-small">
                <lightning-button label="Preview" title="Preview Email" icon-name="utility:preview" onclick={handleRenderPreview} disabled={previewButtonDisabled}></lightning-button>                
            </lightning-layout-item>

        </lightning-layout>
    </lightning-card>
</template>