<template>
    
    <lightning-layout horizontal-align="space">

        <!-- Preview Component -->
        <template if:true={selectedTemplate}>
            <lightning-layout-item size="2" padding="around-small">
                <c-email-helper-preview related-object-name={selectedTemplate.RelatedEntityType} email-body={updatedBody}
                                        selected-recipient={selectedRecipient} include-signature={includeSignature}></c-email-helper-preview>
            </lightning-layout-item>
        </template>

        <!-- Template Body Editor -->
        <lightning-layout-item size="10" padding="around-small">

                <template if:true={showEditor}>
                    <lightning-input-rich-text
                        value={updatedBody}
                        formats={formats}
                        variant="bottom-toolbar"
                        onchange={handleBodyChange}>
                    </lightning-input-rich-text>

                    <lightning-button-group>
                        <lightning-button label="Reset" onclick={handleResetBody}></lightning-button>
                        <lightning-button label="Save Changes" variant="brand" icon-name="utility:save" onclick={handleShowSaveModal}></lightning-button>
                    </lightning-button-group>

                </template>

        </lightning-layout-item>
    </lightning-layout>

    <!-- Confirm save modal -->
    <template if:true={isSaveModalOpen}>
        <!-- Modal/Popup Box LWC starts here -->
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- HEADER -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={handleCloseSaveModal}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                </header>

                <!-- BODY -->
                <div class="slds-modal__content slds-var-p-around_medium" id="modal-content-id-1">
                    <div class="slds-text-align_center slds-text-body_regular">
                        Are you sure you want to save these changes to the email template?
                    </div>
                </div>

                <!-- FOOTER -->
                <footer class="slds-modal__footer">
                    <lightning-button variant="neutral" label="Cancel" title="Cancel" onclick={handleCloseSaveModal} class="slds-var-m-left_x-small"></lightning-button>
                    <lightning-button variant="brand" label="Save" title="Save" onclick={handleConfirmSave} class="slds-var-m-left_x-small"></lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

</template>