<template>
    <lightning-card title="Email Helper" icon-name="custom:custom23">
        <lightning-layout spacing="arounds-small">

            <!-- Template search -->
            <lightning-layout-item size="4" padding="around-medium">
                <c-lookup onsearch={handleEmailTemplateSearch} onselectionchange={handleEmailTemplateSelectionChange} 
                            label="Email Template" placeholder="Search..." object-name="EmailTemplate"
                            search-field="Name">
                </c-lookup>
            </lightning-layout-item>

            <!-- Recipient Search -->
            <lightning-layout-item size="4" padding="around-medium">
                <c-lookup onsearch={handleRecipientSearch} onselectionchange={handleRecipientSelectionChange} 
                            label="Recipient" placeholder="Search..." object-name=""
                            search-field="Name">
                </c-lookup>
            </lightning-layout-item>

            <!-- Signature toggle -->
            <lightning-layout-item size="2" padding="around-medium">
                <lightning-input type="toggle" label="Include Signature" name="includeSig" onchange={handleIncludeSigChange}
                                message-toggle-active="Yes" message-toggle-inactive="No"></lightning-input>
            </lightning-layout-item>

            <!-- Send Button -->
            <lightning-layout-item size="2" padding="around-medium">
                <lightning-button variant="brand" label="Send" title="Send displayed email" onclick={handleSend} disabled={isSendDisabled}></lightning-button>
            </lightning-layout-item>

        </lightning-layout>
    </lightning-card>
</template>